@model WebPerfectStore.ViewModels.OrderViewModel
@using System.Web.Mvc.Html;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            @Html.LabelFor(model => model.Order.Outlet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ActionLink(
                Model.Order.Outlet.fName,
                "Details","Outlets", new {id = Model.Order.Outlet.fID}, htmlAttributes: new { @class = "btn btn-link" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.Order.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Order.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(h => h.Order.DocTypeID)
            @Html.HiddenFor(h => h.Order.MasterFID)
            @Html.HiddenFor(model => model.Order.OutletID)


        </div>
        <table class="table form-group">
            <thead>

                <tr>
                    <th>Вопрос</th>
                    @foreach (var item in Model.Questions.SelectMany(x => x.Answers).GroupBy(x => x.Attribute).Select(k => k.Key).OrderBy(o => o.AttrID))
                {

                        <th> @Html.DisplayFor(m => item.AttrName) </th>
                    }
                </tr>
            </thead>

            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                <tr>
                    <td> @Html.DisplayFor(item => item.Questions[i].Item.ShortName)</td>
                    @Html.HiddenFor(h => h.Questions[i].Item.ID)

                    @for (var j = 0; j < Model.Questions[i].Answers.Count; j++)
                    {

                        <td>
                            @Html.HiddenFor(h => h.Questions[i].Answers[j].Attribute.AttrID)
                        @Html.EditorFor(e => e.Questions[i].Answers[j].Value, new { htmlAttributes = new Dictionary<string, object>() { { "class", "form-control" }, { "type", "number" } } })
                    </td>
                    }
                </tr>
            }
        </table>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
